{% extends 'index.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<body>
	<main>
		<section class="about">
			<h1>A propos de nous</h1>
			<p>Site Emploi de Travail est une plateforme de recherche d'emploi en ligne. Nous connectons les demandeurs d'emploi aux employeurs potentiels en offrant une large gamme d'offres d'emploi.</p>
			<p>Notre mission est de rendre la recherche d'emploi plus facile pour tout le monde en proposant une plateforme simple, intuitive et accessible à tous.</p>
			<p>Nous sommes constamment à la recherche de nouvelles façons d'améliorer l'expérience de nos utilisateurs. Si vous avez des suggestions ou des commentaires, n'hésitez pas à nous contacter.</p>
		</section>
	</main>
    </body>
{% endblock %}
