.services {
	max-width: 800px;
	margin: 0 auto;
	padding: 50px;
	text-align: center;
}

.services h1 {
	font-size: 36px;
	margin-bottom: 50px;
}

.service {
	display: inline-block;
	margin: 0 20px;
	text-align: left;
	width: 300px;
}

.service img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.service h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.service p {
	font-size: 16px;
	line-height: 1.5;
}